<nav>

    <div>
        <h2 class="websiteName">Albayat</h2>
    </div>
  
    <a class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>

    <div class="navbar-links">

        <ul>
            <li><a href="/logIn">Log In</a></li>
            <li><a href="/register">Sign Up</a></li>
        </ul>
    </div>
</nav>

