<nav class="userNav">

  <div>
    <h2 class="websiteName">Albayat</h2>
  </div>

  <a class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>

  <div class="navbar-links">

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/body-parts">Workouts</a></li>
      <li><a href="/plans">My plans</a></li>
      <li class="profileNav"><a href="">My Profile</a></li>
      <li class="logOutNav"><a href="">Log out</a></li>

      <label class="dropdown">

        <div class="dd-button"> My Account</div>

        <input type="checkbox" class="dd-input" id="test">

        <ul class="dd-menu">
          <li><a href="/profile/<%= user.id.user_id %>">My Profile</a></li>
          <li><a href="">Log out</a></li>
        </ul>
      </label>
    </ul>
  </div>

</nav>