:root{
    --yellow : #FFC857;
    --dark-yellow : #ffbb33;
    --red: #c5283d;
    --white: #ffffff;
    --light-white: #cdcdcd;
}


*{
    font-family: 'Lato', sans-serif;
}

body{
    background: linear-gradient(219.58deg, #010417 10.26%, #2B333F 84.25%);
    display: grid;
    place-items: center;
    min-height: 100vh;
    
}

.log-in-containor{
    align-items: center;
    margin: auto;
    background-color: #E5E5E5;
    width: 350px;
    border-radius: 10px; 
    padding: 20px;
}

.log-in-text{
    text-align: center;
}

.input-label{
    margin-bottom: 20px;
    font-weight: 400;
}

.user-input{
    background-color: #E5E5E5;
    width: 100%;
    border: 0;
    border-bottom: 3px solid #cdcdcd;
    padding: 2px;
    margin-bottom: 2em;
    outline: none;
}

.password-input{
    margin-bottom: 1em;
}

button{
    width: 100%;
    text-align: center;
    padding: 8px 16px;
    margin-top: 2em;
    border-radius: 4px;
    border: 0;
    background-color: var(--yellow);
}

button:hover{
    background-color: var(--dark-yellow);
}

.forgot-password-text{
    text-align: end;
    font-size: 12px;
}

.forgot-password-text:hover{
    text-decoration: underline;
}

.formDivider{
    text-align: center;
}

.formDividerText{
    position: relative;
    margin-top: 30px;
    text-align: center;
    
}

.formDividerText::after{
    content:" ";
    display: block;
    position: absolute;
    height: 2px;
    width: 45%;
    top: 50%;
    left: 0;
    background: var(--light-white);
}


.formDividerText::before{
    content:" ";
    display: block;
    position: absolute;
    height: 2px;
    width: 45%;
    top: 50%;
    right: 0;
    background: var(--light-white);
}

.need-account{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.sign-up-text{
    text-decoration: underline;
    font-weight: 700;
}

.signUp{
    color: black;
}

.signUp:hover{
    color: var(--red);
}



