<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/popUp.css">
    <script defer src="/js/popUp.js"></script>




    <title>Add Exercise</title>
</head>
<body class="chooseDayBody">

    <nav class="chooseDayHeader">
        <h2 class="websiteName">Biceps</h2>
        <button class="logInButton"><a href="/logIn">Log In</a></button>
        <button class="signUpButton"><a href="/signUp">Sign Up</a></button>
    </nav>

    



    <div class="gridContanior">

        <div class="grid"> 

            <div class="planNameDiv">
                <p id="displayPlanName" class="chooseDayPlanName">Sunday</p>
            </div>
            <div data-modal-target = '#modal' class="dayCard">
                <p class="dayText">Add</p>

            </div>

        </div>
    </div>

    

    <!-- popup to add exercise-->
    <div class="modal" id="modal">
        <div class = 'modal-header'>
            <div class = 'title'>Add Exercises</div>
            <button data-close-button=" close-button"  class = 'close-button'>&times;</button>
        </div>
        <div class="modal-body">

            <form action="#">
                <label for="Exercises">Choose Excercises</label>
                <select name="Exercises" id="Exercises" size="10" multiple>
                <optgroup label="Chest">

                  <option value="chest1">Chest1</option>
                  <option value="chest2">Chest2</option>
                  <option value="chest3">Chest3</option>
                  <option value="chest4">Chest4</option>
                  <option value="chest5">Chest5</option>

                  <optgroup label="Biceps">

                  <option value="biceps1">biceps1</option>
                  <option value="biceps2">biceps2</option>
                  <option value="biceps3">biceps3</option>
                </select>
                
                <button id="submit">Add Exercises</button>

                <!-- <input type="submit" value="Submit" onclick="getOption()" /> -->

            </form>
         

        </div>
    </div>

<div  id="overlay"></div>
<script src="/js/frontEnd.js"></script>

    
</body>
</html>