<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/popUp.css">
    <script defer src="/js/popUp.js"></script>


    <title>Add Exercise</title>
</head>
<body class="chooseDayBody">

    <nav class="chooseDayHeader">
        <h2 class="websiteName">Biceps</h2>
        <button class="logInButton"><a href="/logIn">Log In</a></button>
        <button class="signUpButton"><a href="/signUp">Sign Up</a></button>
    </nav>

    



    <div class="gridContanior">

        <div class="grid"> 

            <div class="planNameDiv">
                <h1 class="chooseDayPlanName" contenteditable="true">Plan name</h1>
            </div>
            <div data-modal-target = '#modal' class="dayCard">
                <p class="dayText">Add</p>

            </div>

        </div>
    </div>

    

    <!-- popup to add exercise-->
    <div class="modal" id="modal">
        <div class = 'modal-header'>
            <div class = 'modal-title'>Add Exercises</div>
            <button data-close-button=" close-button"  class = 'close-button'>&times;</button>
        </div>
        <div class="modal-body">
            Exercises will be shown here
            Exercises will be shown here
            Exercises will be shown here
            Exercises will be shown here
            Exercises will be shown here
            Exercises will be shown here
            Exercises will be shown here
            Exercises will be shown here
            Exercises will be shown here            Exercises will be shown here


        </div>
    </div>
    
     
<div  id="overlay"></div>
    
</body>
</html>