<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">

    <title>Document</title>
</head>

<body>
    <nav class="planHeader">
        <h2 class="websiteName">Biceps</h2>
        <button class="logInButton"><a href="/logIn">Log In</a></button>
        <button class="signUpButton"><a href="/signUp">Sign Up</a></button>
    </nav>

    <div class="main-cards-container">
        <h1 class="plans-title">Choose muscle to find workouts</h1>
        <div class="cards-container">

            <div class="card">
                <!-- views/workouts/{{wokrout.id}} -->
                <a href="/plan/chest" target="_self">
                    <img class="card-img" src="/img/workouts/Chest.png" alt="">
                </a>
                <div class="card-title">
                    <p>Chest</p>
                </div>
            </div>
            <div class="card">
                <!-- views/workouts/{{wokrout.id}} -->
                <a href="/body-parts/biceps" target="_self">
                    <img class="card-img" src="/img/workouts/Biceps.png" alt="">
                </a>
                <div class="card-title">
                    <p>Biceps</p>
                </div>

            </div>
            <div class="card">
                <!-- views/workouts/{{wokrout.id}} -->
                <a href="/body-parts/triceps" target="_self">
                    <img class="card-img" src="/img/workouts/Triceps.png" alt="">
                </a>
                <div class="card-title">
                    <p>Triceps</p>
                </div>

            </div>
            <div class="card">
                <!-- views/workouts/{{wokrout.id}} -->
                <a href="/body-parts/forearms" target="_self">
                    <img class="card-img" src="/img/workouts/Forearms.png" alt="">
                </a>
                <div class="card-title">
                    <p>Forearms</p>
                </div>

            </div>
            <div class="card">
                <!-- views/workouts/{{wokrout.id}} -->
                <a href="/body-parts/shoulder" target="_self">
                    <img class="card-img" src="/img/workouts/Shoulder.png" alt="">
                </a>
                <div class="card-title">
                    <p>Shoulder</p>
                </div>


            </div>
            <div class="card">
                <!-- views/workouts/{{wokrout.id}} -->
                <a href="/body-parts/back" target="_self">
                    <img class="card-img" src="/img/workouts/Back.png" alt="">

                </a>
                <div class="card-title">
                    <p>Back</p>
                </div>


            </div>
            <div class="card">
                <!-- views/workouts/{{wokrout.id}} -->
                <a href="/body-parts/abs" target="_self">
                    <img class="card-img" src="/img/workouts/Abs.png" alt="">
                </a>
                <div class="card-title">
                    <p>Abs</p>
                </div>

            </div>
            <div class="card">
                <!-- views/workouts/{{wokrout.id}} -->
                <a href="/body-parts/legs" target="_self">
                    <img class="card-img" src="/img/workouts/Legs.png" alt="">
                </a>
                <div class="card-title">
                    <p>Legs</p>
                </div>

            </div>


        </div>
    </div>
</body>

</html>