<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/style.css">
    <title>home</title>
</head>

<body class="indexBody">

    <nav class="userNav">

        <div>
          <h2 class="websiteName">Biceps</h2>
        </div>
      
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
      
        <div class="navbar-links">
      
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Workouts</a></li>
            <li><a href="">My plans</a></li>
            <li class="profileNav"><a href="">My Profile</a></li>
            <li class="logOutNav"><a href="">Log out</a></li>
      
            <label class="dropdown">
      
              <div class="dd-button"> My Account</div>
      
              <input type="checkbox" class="dd-input" id="test">
      
              <ul class="dd-menu">
                <li><a href="">My Profile</a></li>
                <li><a href="">Log out</a></li>
              </ul>
            </label>
          </ul>
        </div>
      
      </nav>


    <section class="homePage">
        <div>
            <h1 class="motivation">OVER COME YOUR FEARS</h1>
        </div>


        <div class="buttonsContanior">
            <button class="workoutsButton"><a href="/views/body-parts.html">Workouts</a></button>
        </div>
    </section>


    <script src="/js/navbar.js"></script>

</body>

</html>