<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/style.css">
    <title>home</title>
</head>
<body class="indexBody">


    <nav>

        <h2 class="websiteName">Biceps</h2>
        <button class="logInButton"><a href="/logIn">Log In</a></button>
        <button class="signUpButton"><a href="/signUp">Sign Up</a></button>   


    </nav>


    <section class="homePage">
        <div>
            <h1 class="motivation">OVER COME YOUR FEARS</h1>
        </div>

        
        <div class="buttonsContanior">
            <button class="workoutsButton"><a href="/">Workouts</a></button>
            <button class="workoutsButton"><a href="/">Workout-plans</a></button>        
        </div>
    </section>
    
</body>
</html>