<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/style.css">

    <title>log in</title>
</head>

<body class="centerBody">

    <div class="form">

        <div class="test">
            <h2 class="log-in-text">Log In</h2>

            <!-- This form may need a revision in the future -->
            <form action="/" method="post">
                <label class="email-text input-label" for="email">Email <br></label>
                <input type="email" name="email" id="logIn-email" class="email-input user-input">


                <label class="password-text input-label" for="password">Password<br></label>
                <input type="password" name="password" id="logIn-password" class="password-input user-input">


                <button class="log-in-button">Log In</button>

                <p class="forgot-password-text">Forgot your password?</p>

                <div class="formDivider">
                    <div class="formDividerText">OR</div>
                </div>

                <div class="need-account">
                    <p>Need an account? <span class="sign-up-text"><a href="/register" class="signUp">SIGN
                                UP</a></span></p>
                </div>

            </form>
        </div>
    </div>

</body>

</html>