<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Plans</title>
</head>

<body class="plansBody">





    <div class="gridContanior">

        <div class="grid">

            <div class="textDiv">
                <h1 class="readyPlansText">Choose your plan</h1>
            </div>

            <!-- for each plan there is a div (query the plans from the database) -->
            <div class="plan">
                <!-- image of the plan if exist -->
                <img src="/img/bulking.png" class="planImg" alt="">

                <!-- name of the plan -->
                <p class="planName">Bulking</p>

                <!-- button -->
                <button class="start">START</button>
            </div>
            <div class="plan">
                <!-- image of the plan if exist -->
                <img src="/img/bulking.png" class="planImg" alt="">

                <!-- name of the plan -->
                <p class="planName">Bulking</p>

                <!-- button -->
                <button class="start">START</button>
            </div>
            <div class="plan">
                <!-- image of the plan if exist -->
                <img src="/img/bulking.png" class="planImg" alt="">

                <!-- name of the plan -->
                <p class="planName">Bulking</p>

                <!-- button -->
                <button class="start">START</button>
            </div>
            <div class="plan">
                <!-- image of the plan if exist -->
                <img src="/img/bulking.png" class="planImg" alt="">

                <!-- name of the plan -->
                <p class="planName">Bulking</p>

                <!-- button -->
                <button class="start">START</button>
            </div>
            <div class="plan">
                <!-- image of the plan if exist -->
                <img src="/img/bulking.png" class="planImg" alt="">

                <!-- name of the plan -->
                <p class="planName">Bulking</p>

                <!-- button -->
                <button class="start">START</button>
            </div>
            <div class="plan">
                <!-- image of the plan if exist -->
                <img src="/img/bulking.png" class="planImg" alt="">

                <!-- name of the plan -->
                <p class="planName">Bulking</p>

                <!-- button -->
                <button class="start">START</button>
            </div>
        </div>

    </div>

    <div class="addPlan">
        <button>+</button>
    </div>


</body>

</html>