<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Plans</title>
</head>

<body class="plansBody">


    <nav class="planHeader">
        <h2 class="websiteName">Biceps</h2>
        <button class="logInButton"><a href="/logIn">Log In</a></button>
        <button class="signUpButton"><a href="/signUp">Sign Up</a></button>
    </nav>








    <div class="gridContanior">

        <div class="grid">

            <div class="textDiv">
                <h1 class="readyPlansText">Choose your plan</h1>
            </div>

            <!-- for each plan there is a div (query the plans from the database) -->
            <div class="plan">
                <!-- image of the plan if exist -->
                <img src="/img/bulking.png" class="planImg" alt="">

                <!-- name of the plan -->
                <p class="planName">Bulking</p>

                <!-- button -->
                <button class="start">START</button>
            </div>

            <div class="plan">
                <!-- image of the plan if exist -->
                <img src="/img/bulking.png" class="planImg" alt="">

                <!-- name of the plan -->
                <p class="planName">Bulking</p>

                <!-- button -->
                <button class="start">START</button>
            </div>
            <div class="plan">
                <!-- image of the plan if exist -->
                <img src="/img/bulking.png" class="planImg" alt="">

                <!-- name of the plan -->
                <p class="planName">Bulking</p>

                <!-- button -->
                <button class="start">START</button>
            </div>


        </div>

    </div>



</body>

</html>