<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/popUp.css">

    <script defer src="/js/getplan.js"></script>

    <title>Plans</title>
</head>

<body class="plansBody">


    <nav>
        <h2 class="websiteName">Biceps</h2>
        <li><a href="">Home</a></li>
        <li><a href="">My plans</a></li>
        <li><a href="">Workouts</a></li>
    
        <label class="dropdown">
    
            <div class="dd-button"> My Account</div>
    
            <input type="checkbox" class="dd-input" id="test">
    
            <ul class="dd-menu">
                <li><a href="">My Profile</a></li>
                <li><a href="">Log out</a></li>
            </ul>
    
        </label>
    
    </nav>



    <div class="gridContanior">

        <div class="grid">

            <div class="textDiv">
                <h1 class="readyPlansText">Choose your plan</h1>
            </div>

            <!-- for each plan there is a div (query the plans from the database) -->
            <div class="plan">
                <!-- image of the plan if exist -->
                <img src="/img/bulking.png" class="planImg" alt="">

                <!-- name of the plan -->
                <p class="planName">Bulking</p>

                <!-- button -->
                <button class="start">START</button>
            </div>
            <div class="plan">
                <!-- image of the plan if exist -->
                <img src="/img/bulking.png" class="planImg" alt="">

                <!-- name of the plan -->
                <p class="planName">Bulking</p>

                <!-- button -->
                <button class="start">START</button>
            </div>
            <div class="plan">
                <!-- image of the plan if exist -->
                <img src="/img/bulking.png" class="planImg" alt="">

                <!-- name of the plan -->
                <p class="planName">Bulking</p>

                <!-- button -->
                <button class="start">START</button>
            </div>
            <div class="plan">
                <!-- image of the plan if exist -->
                <img src="/img/bulking.png" class="planImg" alt="">

                <!-- name of the plan -->
                <p class="planName">Bulking</p>

                <!-- button -->
                <button class="start">START</button>
            </div>
            <div class="plan">
                <!-- image of the plan if exist -->
                <img src="/img/bulking.png" class="planImg" alt="">

                <!-- name of the plan -->
                <p class="planName">Bulking</p>

                <!-- button -->
                <button class="start">START</button>
            </div>
            <div class="plan">
                <!-- image of the plan if exist -->
                <img src="/img/bulking.png" class="planImg" alt="">

                <!-- name of the plan -->
                <p class="planName">Bulking</p>

                <!-- button -->
                <button class="start">START</button>
            </div>
        </div>

    </div>

    <div class="addPlan">
        <button data-modal-target = '#modal'>+</button>
    </div>

    <div class="modal" id="modal">
        <div class = 'modal-header'>
            <div class = 'title'>Choose a name for your plan</div>
            <button data-close-button=" close-button"  class = 'close-button'>&times;</button>
        </div>
        <div class="modal-body">

            <form action="/plans-chooseDay" method="POST">
                 <input name="planNameValue"   placeholder="Example: Yousef Plan :D" type="text" id="planInput">
                 <button  onclick="getPlanNameValue()" id="submit">save</button> </a>



        </div>
    </div>
    <div  id="overlay"></div>



    <script src="/js/navbar.js"></script>
</body>

</html>