<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://kit.fontawesome.com/c4ecd2a57e.js" crossorigin="anonymous"></script>


    <title>Choose day</title>
</head>
<body class="chooseDayBody">


    <nav class="chooseDayHeader">
        <h2 class="websiteName">Biceps</h2>
        <button class="logInButton"><a href="/logIn">Log In</a></button>
        <button class="signUpButton"><a href="/signUp">Sign Up</a></button>
    </nav>








    <div class="gridContanior">

        <div class="grid">

            <div class="planNameDiv">
                <h1 class="chooseDayPlanName" contenteditable="true">Plan name</h1>
                <i class="fa-solid fa-pencil" style="color: white; font-size: 36px;"></i>
            </div>

            <!-- for each plan there is a div (query the plans from the database) -->
            <a style="text-decoration:none" href="/views/addExcercise.html"> 
            <div class="dayCard">
                <!-- Day name -->
                <p class="dayText">Sunday</p>

            </div>
            </a>
            <a style="text-decoration:none" href="/views/addExcercise.html"> 

            <div class="dayCard">
            
                <!-- Day name -->
                <p class="dayText">Monday</p>

            </div>
            </a>
            <a style="text-decoration:none" href="/views/addExcercise.html"> 

            <div class="dayCard">

                <!-- Day name -->
                <p class="dayText">Tuesday</p>

          
            </div>
            </a>
            <a style="text-decoration:none" href="/views/addExcercise.html"> 

            <div class="dayCard">

                <!-- Day name -->
                <p class="dayText">Wednesday</p>

          
            </div>
            </a>
            <a style="text-decoration:none" href="/views/addExcercise.html"> 

            <div class="dayCard">

                <!-- Day name -->
                <p class="dayText">Thursday</p>

          
            </div>
            </a>


        </div>

    </div>



</body>
</html>