<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/plan.css">
    <title>Plans</title>
</head>
<body>

    <header>     
        <div>
           <h2 class="websiteName">Biceps</h2>
       </div>
           
       <div>
           <button class="headerLogInButton"><a href="/logIn">Log In</a></button>
           <button class="headerSignUpButton"><a href="/signUp">Sign Up</a></button>        
       </div>
   </header>


   <div class="plansContainer">

        <div class="planOne plan">
            <!-- <img src="/img/bulking.png" alt=""> -->

        </div>

        <div class="planTwo plan">
            <!-- <img src="/img/cuting.png" alt=""> -->

        </div>

   </div>
    
</body>
</html>