<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <!-- {{workout.title}} -->
    <title>Chest workouts</title>
</head>

<body>
    <nav class="planHeader">
        <h2 class="websiteName">Biceps</h2>
        <button class="logInButton"><a href="/logIn">Log In</a></button>
        <button class="signUpButton"><a href="/signUp">Sign Up</a></button>
    </nav>

    <div class="main-cards-container">
        <!-- {{workout.title}} -->
        <h1 class="plans-title">Choose a workout</h1>
        <div class="cards-container">

            <div class="card">
                <!-- views/workout-discription/{{workout.id}}/{{workout.discription}} -->
                <a href="" target="_self">
                    <!-- img/{{workout.name}}-workouts/{{workout.img}} -->
                    <img class="card-img" src="/img/chest-workouts/dips.png" alt="">
                </a>
                <div class="card-title">
                    <!-- {{workout.name}} -->
                    <p>Dips</p>
                </div>
            </div>
            <div class="card">
                <!-- views/workout-discription/{{workout.id}}/{{workout.discription}} -->
                <a href="" target="_self">
                    <!-- img/{{workout.name}}-workouts/{{workout.img}} -->
                    <img class="card-img" src="/img/chest-workouts/incline-bench-press.png" alt="">
                </a>
                <div class="card-title">
                    <!-- {{workout.name}} -->
                    <p>Incline bench press </p>
                </div>

            </div>
            <div class="card">
                <!-- views/workout-discription/{{workout.id}}/{{workout.discription}} -->
                <a href="" target="_self">
                    <!-- img/{{workout.name}}-workouts/{{workout.img}} -->
                    <img id="workout" class="card-img" src="/img/chest-workouts/flat-chest-press.png" alt="">
                </a>
                <div class="card-title">
                    <!-- {{workout.name}} -->
                    <p>Flat chest press</p>
                </div>

            </div>
            <div class="card">
                <!-- views/workout-discription/{{workout.id}}/{{workout.discription}} -->
                <a href="" target="_self">
                    <!-- img/{{workout.name}}-workouts/{{workout.img}} -->
                    <img class="card-img" src="/img/chest-workouts/cable-chest-fly.png" alt="">
                </a>
                <div class="card-title">
                    <!-- {{workout.name}} -->
                    <p>Cable chest flys</p>
                </div>

            </div>
            <div class="card">
                <!-- views/workout-discription/{{workout.id}}/{{workout.discription}} -->
                <a href="" target="_self">
                    <!-- img/{{workout.name}}-workouts/{{workout.img}} -->
                    <img class="card-img" src="/img/chest-workouts/decline-press.png" alt="">
                </a>
                <div class="card-title">
                    <!-- {{workout.name}} -->
                    <p>Decline press</p>
                </div>


            </div>
            <div class="card">
                <!-- views/workout-discription/{{workout.id}}/{{workout.discription}} -->
                <a href="" target="_self">
                    <!-- img/{{workout.name}}-workouts/{{workout.img}} -->
                    <img class="card-img" src="/img/chest-workouts/dumbbell-pullover.png" alt="">
                </a>
                <div class="card-title">
                    <!-- {{workout.name}} -->
                    <p>Dumbbell pullover</p>
                </div>


            </div>

        </div>


    </div>
    </div>

</body>

</html>